PORT=5000
CLIENT_ORIGIN=http://localhost:3000

SMTP_HOST=smtp.elasticemail.com
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=deyswati65@gmail.com
SMTP_PASS=your_elastic_email_smtp_password
SMTP_FROM=deyswati65@gmail.com
CONTACT_TO_EMAIL=deyswati65@gmail.com
